<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705148124862-c9q87s03c8u5hchp8s8534lg2gsq55qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705148124862-c9q87s03c8u5hchp8s8534lg2gsq55qm</string>
	<key>API_KEY</key>
	<string>AIzaSyAIjfwM4MeI31GUnPoTjoI6zkoVqJtiUS0</string>
	<key>GCM_SENDER_ID</key>
	<string>705148124862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graduationProject</string>
	<key>PROJECT_ID</key>
	<string>pharmacy-f7702</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmacy-f7702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705148124862:ios:271c3bdfd402f56164a8ef</string>
</dict>
</plist>